<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <form action="/abdet" method="post">
        <input type="text" name="name" id="">
        <input type="text" name="area" id="">
        <input type="text" name="pincode" id="">
        <input type="text" name="phone" id="">
<button type="submit">add</button>

    </form>
</body>
</html>