<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/det" method="post">
        <input type="text" name="hospital">
<input type="text" name="pincode" >
<input type="text" name="blood">
<input type="text" name="quan">
<!-- <input type="text" name="" id="">
 -->
 <button type="submit">submit</button>

    </form>
    <form action="/se" method="post">
        <input type="text" name="pin">
        <button type="submit">Search</button>
    </form>
</body>
</html>